
@{
    ViewBag.Title = "List";
}

<div>
    <h2>Search for Teacher</h2>
    <form method="GET" action="/Teacher/List/">
        <input type="text" name="q" />
        <input type="submit" value="search" />
    </form>
    <a href="/Teacher/List">Refresh Search</a>
</div>

<div>
    <h2>List of Teachers</h2>
    <div style="margin-bottom: 1rem;">
        <button>
            <a href="/Teacher/New">Add a Teacher</a>
        </button>
    </div>
    <div>
        @foreach (var teacher in Model)
        {
            <p>
                <a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a>
            </p>
        }
    </div>
</div>