
@{
    ViewBag.Title = "List";
}

<div>
    <h2>Search for Teacher</h2>
    <form method="GET" action="/Teacher/List/">
        <input type="text" name="q" />
        <input type="submit" value="search" />
    </form>
</div>

<div>
    <h2>List of Teachers</h2>
    @foreach (var teacher in Model)
    {
        <p><a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></p>
    }
</div>