
@{
    ViewBag.Title = "New";
}

<h2>Add a Teacher</h2>

<form method="POST" action="/Teacher/Create">
    <div>
        <label for="TeacherFname">First Name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname" />
    </div>
    <div>
        <label for="TeacherLname">Last Name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" />
    </div>
    <div>
        <label for="EmployeeNum">Employee Number:</label>
        <input type="text" id="EmployeeNum" name="EmployeeNum" />
    </div>
    <div>
        <label for="HireDate">Hired On:</label>
        <input type="datetime" id="HireDate" name="HireDate" />
    </div>
    <div>
        <label for="Salary">Salary:</label>
        <input type="number" id="Salary" name="Salary" step=".01" />
    </div>
    <div>
        <input type="submit" name="submit" value="Add Teacher" />
    </div>
</form>