@model SchoolDBProject.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>@Model.TeacherFname @Model.TeacherLname</h2>
<ul>
    <li>Employee number: @Model.EmployeeNum</li>
    <li>Hired on: @Model.HireDate</li>
    <li>Salary: $@Model.Salary</li>
</ul>

<div>
    <a href="/Teacher/List">Back to teachers list</a>
</div>
<div>
    <a href="/Teacher/Update/@Model.TeacherId">Update</a>
</div>
<div>
    <a href="/Teacher/DelConfirmation/@Model.TeacherId" style="color: #d11;">Delete</a>
</div>